registry=http://artifactory.fkinternal.com/artifactory/v1.0/artifacts/npm/
@types:registry=https://registry.npmjs.org
http://artifactory.fkinternal.com/artifactory/v1.0/artifacts/npm/
# Saved dependencies will be configured with an exact version
# rather than using npm’s default semver range operator.
# https://docs.npmjs.com/cli/install
save-exact=true

