registry=https://registry.npmjs.org
@types:registry=https://registry.npmjs.org
https://jfrog.fkinternal.com/artifactory/api/npm/npm_virtual/
# Saved dependencies will be configured with an exact version
# rather than using npm’s default semver range operator.
# https://docs.npmjs.com/cli/install
save-exact=true

